node_modules
.git
.github
.gitignore
.prettierrc
.prettierignore
.markdownlint.json
.markdownlintignore
.husky
.docusaurus
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
docs
static
*.md
Dockerfile
.dockerignore

