.github {
  overflow: hidden;
  display: inline-block; /* Allows sizing */
  width: 24px; /* Set the width for your icon */
  height: 24px; /* Set the height for your icon */
  background-image: url("/img/github.svg"); /* Path to your SVG icon */
  background-size: cover; /* Ensures the icon covers the element */
  cursor: pointer;
  a {
    color: transparent !important;
  }
}

.linkedin {
  overflow: hidden;
  display: inline-block; /* Allows sizing */
  width: 24px; /* Set the width for your icon */
  height: 24px; /* Set the height for your icon */
  background-image: url("/img/linkedin.svg"); /* Path to your SVG icon */
  background-size: cover; /* Ensures the icon covers the element */
  cursor: pointer;
  a {
    color: transparent !important;
  }
}

.footer {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.footer ul .social {
  margin: 0 10px; /* Add some space between the icons */
}

.footer .social-title {
  display: none;
}
