name: build

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  build:
    runs-on: dind-runner

    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '24.x'
        cache: 'npm'

    - name: Generate version
      id: generate
      uses: eidp/actions-semver/generate-version@d4f33761d7dafbeff3241fe8afe927a1d7516703 # v0.4.0

    - name: Get commit SHA
      id: commit-sha
      uses: eidp/actions-common/commit-sha@840f06eef3976bf54c702de638e290ea6be9273e # v1.3.4

    - name: Install dependencies
      run: npm ci

    - name: Run Prettier format check
      run: npm run format:check

    - name: Run Markdown linting
      run: npm run lint:md

    - name: Build static site
      run: npm run build

    - name: Docker build and push
      id: docker-build-push
      uses: eidp/actions-docker/build-push@aff1997ef07eb2ede4ca5c8b1ed9bffa24416d0a # v0.1.1
      with:
        image: ${{ vars.HARBOR_HOST }}/platform-documentation
        registry: ${{ vars.HARBOR_HOST }}
        registry-username: ${{ secrets.HARBOR_USERNAME }}
        registry-password: ${{ secrets.HARBOR_PASSWORD }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: success()
      with:
        name: build-files
        path: build/
        retention-days: 7

    - name: Helm Publish
      uses: eidp/actions-helm/publish@5fbdd1fff2866d3104da9986b98e0b88e6c7aa4e # v1.0.0
      with:
        chart-path: ./charts/app
        repo-url: oci://${{ vars.HARBOR_HOST }}/charts
        repo-user: ${{ secrets.HARBOR_USERNAME }}
        repo-password: ${{ secrets.HARBOR_PASSWORD }}
        version: ${{ steps.generate.outputs.version }}
        app-version: ${{ steps.commit-sha.outputs.short-sha }}

  check-workflow-status:
    runs-on: kubernetes-runner
    permissions:
      contents: read
      actions: read
    steps:
    - name: Check Workflow Status
      id: check-workflow-status
      uses: eidp/actions-common/check-workflow-status@840f06eef3976bf54c702de638e290ea6be9273e # v1.3.4
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
