name: common

on:
  pull_request:
    branches:
      - main

jobs:
  common:
    uses: eidp/actions-common/.github/workflows/common.yml@8fb490fa25c3ae68beddc97b2430e5c586dc79e1 # v1.3.3
    with:
      runs-on: kubernetes-runner
    permissions:
      pull-requests: write
      issues: write
