name: common

on:
  pull_request:
    branches:
      - main

jobs:
  common:
    uses: eidp/actions-common/.github/workflows/common.yml@840f06eef3976bf54c702de638e290ea6be9273e # v1.3.4
    with:
      runs-on: kubernetes-runner
    permissions:
      pull-requests: write
      issues: write
