name: release

on:
  push:
    tags:
    - '*.*.*'

jobs:
  release:
    runs-on: kubernetes-runner

    permissions:
      contents: read
      actions: read
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Fetch commit version
      id: fetch-commit-version
      uses: eidp/actions-semver/fetch-commit-version@d4f33761d7dafbeff3241fe8afe927a1d7516703 # v0.4.0
      with:
        workflow-name: build

    - name: Get commit SHA
      id: commit-sha
      uses: eidp/actions-common/commit-sha@8fb490fa25c3ae68beddc97b2430e5c586dc79e1 # v1.3.3

    - name: Promote Docker Image
      id: promote-image
      uses: eidp/actions-docker/promote@aff1997ef07eb2ede4ca5c8b1ed9bffa24416d0a # v0.1.1
      with:
        image: ${{ vars.HARBOR_HOST }}/platform-documentation
        registry: ${{ vars.HARBOR_HOST }}
        registry-username: ${{ secrets.HARBOR_USERNAME }}
        registry-password: ${{ secrets.HARBOR_PASSWORD }}
        source-tag: ${{ steps.commit-sha.outputs.short-sha }}
        target-tag: '${{ github.ref_name }}'

    - name: Helm Promote
      uses: eidp/actions-helm/promote@5fbdd1fff2866d3104da9986b98e0b88e6c7aa4e # v1.0.0
      with:
        chart: oci://${{ vars.HARBOR_HOST }}/charts/platform-documentation
        source-version: ${{ steps.fetch-commit-version.outputs.version }}
        target-version: '${{ github.ref_name }}'
        patch-docker-image: 'true'
        target-docker-image-version: '${{ github.ref_name }}'
        repo-url: oci://${{ vars.HARBOR_HOST }}/charts
        repo-user: ${{ secrets.HARBOR_USERNAME }}
        repo-password: ${{ secrets.HARBOR_PASSWORD }}
